:host {
  width: 100%;
}

.filled {
  background: linear-gradient(180deg, #da22ff 0%, #9733ee 100%);

  &:hover {
    background: linear-gradient(180deg, #8a15a1 0%, #46176f 100%);
  }
}

.outlined {
  background:
    linear-gradient(#181818, #181818) padding-box,
    linear-gradient(180deg, #da22ff 0%, #9733ee 100%) border-box;

  border: 2px solid transparent;
}
